[submodule "m.css"]
	path = m.css
	url = https://codeberg.org/ashwinvis/m.css.git
[submodule "content/static/tufte-css"]
	path = content/static/tufte-css
	url = https://codeberg.org/ashwinvis/tufte-css.git
[submodule "src/pelican-planet"]
	path = src/pelican-planet
	url = https://framagit.org/ashwinvis/pelican-planet.git
