<!-- Fediverse Link verification -->
<link rel="me" href="https://mastodon.acc.sunet.se/@ashwinvis">
<link rel="me" href="https://fediscience.org/@ashwinvis">
<link rel="me" href="https://pixelfed.social/ashwinvis">
<link rel="me" href="https://tube.tchncs.de/a/ashwinvis/video-channels">

<!-- indieauth.com -->
<link rel="me" href="https://github.com/ashwinvis">
<link rel="pgpkey" href="/static/ashwin.asc">

<!-- Micropub with indiekit:
  source code: https://github.com/paulrobertlloyd/indiekit
  docs: https://paulrobertlloyd.github.io/indiekit
  fork and deploy as: https://www.heroku.com/deploy?template=https://github.com/ashwinvis/indiekit
-->
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<!-- <link rel="micropub" href="https://ashwinvis-micropub.herokuapp.com/micropub"> -->

<!-- Webmentions with webmentions.io -->
<link rel="webmention" href="https://webmention.io/fluid.quest/webmention" />
<link rel="pingback" href="https://webmention.io/fluid.quest/xmlrpc" />

<!-- Security -->
<!-- Stricter version:
 default-src 'none'; font-src https://fontlibrary.org; img-src 'self'; script-src 'self''; style-src 'self'
-->
<!-- Milder CSP to permit mathjax, bibbase scripts
TODO: Find alternate CDN for mathjax
https://github.com/mathjax/MathJax/issues/256#issuecomment-38032431
https://docs.mathjax.org/en/v2.7-latest/start.html#using-a-content-delivery-network-cdn
-->
<meta http-equiv="Content-Security-Policy"
      content="
      upgrade-insecure-requests;
      default-src https:;
      style-src https://fluid.quest https://bibbase.org 'unsafe-inline' 'self';
      script-src
        https://fluid.quest
        https://unpkg.com
        https://api.climateclock.world
        https://cdnjs.cloudflare.com
        https://bibbase.org
        https://ajax.googleapis.com
        'unsafe-inline' 'unsafe-eval' 'self';
      font-src https://fluid.quest https://fontlibrary.org https://cdnjs.cloudflare.com 'self';
      img-src 'unsafe-inline' 'self' https: data:;
      frame-src https://invidious.snopyta.org https://pixelfed.social https://mastodon.acc.sunet.se https://tube.tchncs.de;
      worker-src 'self';
      "
>
<!-- FIXME: The following rule is required for livereload to work-->
<!-- connect-src 'self' ws://localhost:8000; -->

<!-- Progressive web app -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="ashwin.info™">
<link rel="apple-touch-icon" href="/images/logo_ashwin.png">
<link rel="manifest" href="/manifest.webmanifest">
<script src="/app.js" defer></script>
