{% block metadata -%}
---
Title: {{ title }}
Author: {{ author }}
Date: {{ date }}
Slug: {{ slug }}
Status: {{ status }}
Summary: {{ summary }}
Category: {{ category }}
Tags: {{ tags | join(', ') }}
FediId: __FEDI_ID_PLACEHOLDER__
---
{%- endblock %}

