.mastodon-embed {
	width: 100% !important;
}

/* Fix accessibility issues */
a {
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.m-button a:hover, header a:hover {
  text-decoration: none;
}


/* Whitespace and font-style closer to tufte-css */
main p {
	text-indent: unset;
}

html[data-theme='dark'] article section > :is(h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a) {
      font-style: italic;
      color: white;
}

html[data-theme='light'] article section > :is(h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a) {
      font-style: italic;
      color: black;
}

article section > h2 {
	margin-top: 2.1rem;
	margin-bottom: 1.4rem;
}

article section > h3 {
	margin-top: 2rem;
	margin-bottom: 1.4rem;
}

article.m-article-list {
	border-bottom: 1px dashed #969696;
	padding: 0 0 0.5rem 0;
}

/* Drop caps */
article > .article-kind-plain > p:first-child::first-letter {
	float: left;
	font-family: serif;
	font-size: 4rem;
	padding-top: 0.5rem;
	padding-right: 0.5rem;
}

.strike {
  text-decoration: line-through;
}

.flex-item {
  display: flex;
}

.grid-item {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .grid-row-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.button-down {
  /* FIXME: this does not work with CSS grid as intended */
  margin-top: auto;
}
